/* Global styles */
body {
	font-family: 'Open Sans';
	font-size: 14px;
	color: #666;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

h2 {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 600;
	color: #F07E13;
}

label {
	display: block;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	width: 275px;
	padding: 5px 10px;
	border: 1px solid #999;
	background-color: #eee;
	color: #666;
}

/* Global classes */
.wrap {
	position: relative;
	width: 990px;
	margin: auto;
}

.default-btn {
	padding: 10px 15px;
	border: 0;
	background-color: #F17F16;
	color: #fff;
	font-weight: 200;
	font-style: italic;
	transition: all .5s;
}

.default-btn:hover {
	background-color: #F28C31;
}