/**
 * Global styles
 */
body {
	font-family: 'Open Sans';
	font-size: 14px;
	color: #666;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

h1 {
	margin-bottom: 40px;
	font-size: 34px;
	font-weight: 600;
	color: #F07E13;
}

h2 {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 600;
	color: #F07E13;
}

label {
	display: block;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	width: 275px;
	padding: 5px 10px;
	border: 1px solid #999;
	background-color: #eee;
	color: #666;
}

/**
 * Global classes
 */
/* Global wrapping */
.wrap {
	position: relative;
	width: 990px;
	margin: auto;
} /* Global wrapping */

.alert {
	margin-bottom: 40px;
}

/* Default action button */
.default-btn {
	padding: 10px 15px;
	border: 0;
	background-color: #F17F16;
	color: #fff;
	font-weight: 200;
	font-style: italic;
	transition: all .5s;
}

.default-btn:hover {
	background-color: #F28C31;
} /* Default action button */

/* Server list table */
.servers-table td {
	padding: 15px 10px!important;
}

.servers-table .rank-pos {
	background: #F17F16;
	padding: 7px 10px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}

.servers-table .votes {
	padding: 3px 6px;
	font-size: 13px;
	background-color: #36c;
	border-radius: 5px;
	color: #fff;
} /* Server list table */

/* Default page margin */
.page-margin {
	margin-top: 80px;
} /* Default page margin */
